<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Razi Nameerah">
        <title>Book Vault </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <div class="sidenav">
            <div id="title">
                <h1> <span class = "highlight">Book</span> Vault</h1>
            </div>
            <div class="navContainer"> 
                <form id="searchForm">
                    <input type="text" id="searchInput" placeholder="Search Book Title...">
                    <button type="submit">Search</button>
                </form>
                <a href="{{ url_for('index') }}">READING LIST</a>
                <a href="{{ url_for('completed') }}">COMPLETED</a>
                <a href="{{ url_for('favourites') }}">FAVOURITES</a>
            </div>
        </div>

        <div class="container"> 
            <h1 class="results-message"> Search Results For <span id="searchQuery"></span>...</h1>
        </div>

        <section id="boxes">
            <div class="container"></div>
        </section>

        <div id="success-message"><span id="book-title"></span> added to <span id="page-title"></span>!</div>
        <div id="exists-message"><span id="message"></span></div>
        <div id="error-message">Error adding book to library! Please try again.</div>

        <script src="../static/script.js"></script>
        <script>
            displaySearchResults();
        </script>
    </body>
</html>
